<script id="inventory-stock-take-list" type="text/template">
<b class="boxHeader"><?= options.listTitle !== undefined ? options.listTitle : __("Current %s", modelType.modelNamePlural()) ?></b>
<div class="box" style="margin-bottom:0em">
	<? if (listLength === 0) { ?>
		<p class="empty"><?= __("There are currently no %s", modelType.modelNamePlural().toLowerCase()) ?></p>
	<? } else { ?>
	<table class="display" width="100%">
		<thead>
			<tr>
			<? if (options.itemActions.length > 0) { ?><th class="item-actions end" style="width: <?= options.itemActions.length * 10 ?>px;"></td> <? } ?>
			<? for (var field in fields) { if (modelSchema[fields[field]] && modelSchema[fields[field]].hidden) continue; ?>
				<? var fieldClassName = "field-" + fields[field]; ?>
				<th class="<?= fieldClassName ?>">
					<? if (modelSchema[fields[field]] !== undefined) {
						print(modelSchema[fields[field]].title === undefined ? helpers.keyToTitle(fields[field]) : modelSchema[fields[field]].title);
					}
					else
						print(fields[field]);
					?>
				</th>
			<? } ?>
			</tr>
		</thead>
		<tbody class="list"></tbody>
		<tfoot></tfoot>
	</table>
	<? } ?>
	<? if (options.spinnerEnabled) { ?>
		<div class="tSpace">
			<div class="overlay">
				<div class="modalSpinner">
					<div class="spinner"></div>
					<? if (options.loadingText) { ?>
					<div class="loadingText"><?=__("Loading %s", modelType.modelNamePlural()) ?></div>
					<? } ?>
				</div>
			</div>
		</div>
	<? } ?>
	<? if (pagingEnabled) { ?>
		<div class="paging-container ui-helper-clearfix"></div>
	<? } ?>
	<? var strRetiredOrVoided = (modelMeta.openmrsType === 'data') ? "voided" : "retired" ?>
	<? if (pagingEnabled) { ?><span class="pageSize"></span><? } ?>
</div>
<b class="boxHeader">Stock Adjustments</b>
<div class="box" style="margin-bottom:0em">
	<div id="stockTakeDetailMessages">
	</div>
</div>
<br/>
<input id="submitStockTake" type="submit" class="submit" value="Save Stock Take" style="display:none">
</script>

<script id="inventory-stock-take-list-item" type="text/template">
		<td class="field-item"><? print(model.get('item').get('name')); ?></td>
		<td class="field-expiration numeric"><? print(model.get('expiration')); ?></td>
		<td class="field-quantity numeric"><? print(model.get('quantity')); ?></td>
		<? var id = model.get('item').get('uuid') + '_' + model.get('expiration'); ?>
		<td class="actualQuantity">
			<input type="number" id="actual-quantity-<?=id ?>" class="actual-quantity numeric" style="width:100px;border: 1px solid cadetblue;"/>
		</td>
</script>

<script id="stockTakeAdjustments-list" type="text/template">
    <div style="width: 100%">
        <table class="display" width="100%">
            <thead>
            <tr>
                <? if (options.itemActions.length > 0) { ?>
                <th class="item-actions end" style="width: <?= options.itemActions.length * 10 ?>px;">
                </td> <? } ?>
                <? for (var field in fields) { if (modelSchema[fields[field]] && modelSchema[fields[field]].hidden) continue; ?>
                <? var fieldClassName = "field-" + fields[field]; ?>
                <th class="<?= fieldClassName ?>">
                    <? if (modelSchema[fields[field]] !== undefined) {
                            print(modelSchema[fields[field]].title === undefined ? helpers.keyToTitle(fields[field]) : modelSchema[fields[field]].title);
                        }
                        else
                            print(fields[field]);
                        ?>
                </th>
                <? } ?>
            </tr>
            </thead>
            <tbody class="list"></tbody>
            <tfoot></tfoot>
        </table>
        <? if (options.spinnerEnabled) { ?>
        <div class="tSpace">
            <div class="overlay">
                <div class="modalSpinner">
                    <div class="spinner"></div>
                    <? if (options.loadingText) { ?>
                    <div class="loadingText"><?=__("Loading %s", modelType.modelNamePlural()) ?></div>
                    <? } ?>
                </div>
            </div>
        </div>
        <? } ?>
    </div>
</script>

<script id="inventory-stock-take-list-detail-item" type="text/template">
		<td class="field-item"><? print(model.get('item').get('name')); ?></td>
		<td class="field-expiration numeric"><? print(model.get('expiration')); ?></td>
		<td class="field-quantity numeric"><? print(model.get('quantity')); ?></td>
		<td class="field-actualQuantity numeric"><? print(model.get('actualQuantity')); ?></td>
</script>
