<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenHMIS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
		<require_module version="2.0">org.openmrs.module.webservices.rest</require_module>
		<require_module version="2.0">org.openmrs.module.openhmis.commons</require_module>
		<require_module version="2.0">org.openmrs.module.openhmis.backboneforms</require_module>
	</require_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.InventoryModuleActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<extension>
        <point>org.openmrs.headerFull.userBar</point>
        <class>org.openmrs.module.openhmis.inventory.extension.html.InventoryLinkExt</class>
    </extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		InvItem.hbm.xml
		InvDepartment.hbm.xml
		InvCategory.hbm.xml
		InvStockroom.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Privileges -->
	<!--  Items  -->
	<privilege>
		<name>View Inventory Items</name>
		<description>Able to view inventory items</description>
	</privilege>

	<privilege>
		<name>Manage Inventory Items</name>
		<description>Able to add/edit/retire inventory items</description>
	</privilege>

	<privilege>
		<name>Purge Inventory Items</name>
		<description>Able to purge inventory items</description>
	</privilege>

	<!--  Stock Rooms  -->
	<privilege>
		<name>View Inventory Stockrooms</name>
		<description>Able to view inventory stock rooms</description>
	</privilege>

	<privilege>
		<name>Manage Inventory Stockrooms</name>
		<description>Able to add/edit/retire inventory stock rooms</description>
	</privilege>

	<privilege>
		<name>Purge Inventory Stockrooms</name>
		<description>Able to purge inventory stock rooms</description>
	</privilege>

	<!--  Stock Room Transactions  -->
	<privilege>
		<name>View Inventory Operations</name>
		<description>Able to view inventory operations</description>
	</privilege>

	<privilege>
		<name>Manage Inventory Operations</name>
		<description>Able to add/edit/retire inventory operations</description>
	</privilege>

	<privilege>
		<name>Purge Inventory Operations</name>
		<description>Able to purge inventory operations</description>
	</privilege>

	<!--  Metadata  -->
	<privilege>
		<name>View Inventory Metadata</name>
		<description>Able to view inventory module metadata</description>
	</privilege>

	<privilege>
		<name>Manage Inventory Metadata</name>
		<description>Able to add/edit/retire inventory module metadata</description>
	</privilege>

	<privilege>
		<name>Purge Inventory Metadata</name>
		<description>Able to purge inventory module metadata</description>
	</privilege>
</module>

