/* Item editor styles */
.editor .item-name { position: relative; z-index: 1; }

/* Input hint styles */
span.label-hint { position: relative; }
.label-hint label { position: absolute; bottom: 0px; left: 3px; font-style: italic; color: #999; cursor: text; z-index: 0; }

/* Exception for form style */
li.bbf-field.field-cashPoint div.bbf-editor { margin-left: 7em; }


div.box, div.combineBoxes { margin-bottom: 1em; }
.combineBoxes div.box { margin-bottom: 0; }

#paymentList { font-size: inherit; }
#paymentList b.boxHeader, #paymentList div.box { width: auto; }
.paymentList .field-amountFmt, .paymentList .field-amountTenderedFmt,
.paymentList .field-paymentMode, .paymentList .field-dateCreatedFmt { width: 13%; }
.paymentList td.field-Details { color: #777; }

/* Override default tab rounded corners */
.ui-tabs, .ui-tabs-nav, li.ui-state-default { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-tabs, .ui-tabs-nav, li.ui-state-default { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-tabs, .ui-tabs-nav { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-tabs, .ui-tabs-nav { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }

/* Customizations for tab spacing and appearance */
.ui-tabs { padding: 0.0em; }
.ui-tabs .ui-tabs-panel { padding: 0.1em; }

.ui-widget { font-size: 13px; }

.ui-widget-header {
    background: none rgb(26, 172, 155) !important;
    border: 1px solid #1AAD9B;
    color: #FFFFFF;
    font-weight: bold;
}